.page {
  background: url("../../public/background.png");
  background-size: cover;
  min-height: 100vh;
}

.page h1 {
  /* border: 1px solid red;s   */
  text-align: center;
  font-family: "joystix";
  font-size: 7rem;
  margin-left: 100px;
}

.page .button__container {
  font-family: "arcade";
  display: block;
  text-align: center;
  /* border: solid 1px red; */
}

.start_bg {
  width: 300px;
}

.leaderboard_bg {
  width: 300px;
}

.page .button__container li {
  list-style: none;
}

.page .button__container a {
  position: relative;
  font-size: 5rem;
  bottom: 110px;
  margin: 0;
}

.page div {
  position: relative;
  top: 180px;
}

.settings {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
}

.audio_player {
  /* display: none; */
}

.hidden {
  display: none;
}
